body{
    background: rgb(46, 201, 46);
    font: normal 18px arial;
    text-align: center;
}
header{
    background: white;
    width: 300px;
    border-radius: 10px;
    margin: auto;
}
section{
    background: white;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
footer{
    font: italic 13px arial;
    margin: auto;
    color: white;
}